body{
  margin:0;
  overflow:hidden;
  font-family:sans-serif;
  background:linear-gradient(135deg,#e0e7ff,#f8fafc);
}

.window{
  position:absolute;
  width:500px;
  height:350px;
  border-radius:20px;
  background:rgba(255,255,255,0.7);
  backdrop-filter:blur(25px);
  box-shadow:0 20px 50px rgba(0,0,0,.2);
}

.titlebar{
  padding:10px;
  cursor:move;
  display:flex;
  justify-content:space-between;
}

.maximized{
  width:100vw!important;
  height:100vh!important;
  top:0!important;
  left:0!important;
}
